body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    min-height: 100vh;
    position: relative;
    padding-bottom: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  background-image: url(https://images.unsplash.com/photo-1511268559489-34b624fbfcf5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
	background-position: center;
  height: 500px;
}

.headline {
  color: #fff;
  text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	             0px 8px 13px rgba(0, 0, 0, 0.1),
							 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.image-circle {
  width: 200px;
  height: 200px;
  background-color: #b2bec3;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.survey-img {
  width: 399px;
  height: 224px;
  /* width: 800px;
  height: 500px; */
}

.survey-btn {
  display: flex;
  justify-content: space-between;
}

.survey-cta {
  width: 120px;
  height: 48px;
}

.score-card {
  width: 439px;
}


/* Footer */

.footer {
  height: 100px;
}

.copyright {
  color: #fff;
  text-align: center;
}

.footer-area {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* .main-container {
  height: 75vh;
} */

.homepage-cta {
  text-align: center;
}

.logo {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
  letter-spacing: 3px;
}

#basic-nav-dropdown {
  color: rgba(255,255,255,0.6);
}

#basic-nav-dropdown:hover {
  color: rgba(255,255,255,0.8);
}

#content {
	text-align: center;
	padding-top: 15%;
  color: #000;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
	             0px 8px 13px rgba(0, 0, 0, 0.1),
							 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.img-logo {
  max-width: 100px;
  max-height: 100px;
}


/* Alex Code */

.img-logo {
	max-width: 100px;
	max-height: 100px;
}
.in-card {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem 0;
}
.in-card > * {
	margin: 0 0.5rem;
}
.explore-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}



/* =======================
DATABAR STYLING
======================= */

#data-bar-container {
  /* border: 2px solid red; */
  width: 300px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
}

.inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,0.5);
  font-weight: 800;
}

.inside-container:hover {
  color: rgba(255,255,255,0.9);
}

.seen-bar-container {
  /* background-color: #28A744; */
  background-color: green;
}

.not-seen-bar-container {
  /* background-color: #DC3544; */
  background-color: red;
}
